<div class="container">
  <h1 class="text-center font-weight-bold">Books</h1>
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <section class="border text-justify">
        <%= render 'form', book: @book %>
      </section>
      <section class="my-1">
        <%= render 'book', book: @book %>
      </section>
      <br>
    </div>
  </div>
</div>



