<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <h1 class="h2 text-center font-weight-bold">New Book Collection</h1>
      <div class="col-lg-8 mx-auto">
        <%= render 'form', book_collection: @book_collection %>
      </div>
      <div class="d-flex justify-content-end">
        <%= link_to 'Back', book_collections_path, class: "text-decoration-none text-reset btn btn-danger" %>
      </div>
    </div>
  </div>
</div>


